<ul class="activity-timeline">
    <li>
        <a href="http://www.coupang-usa.com/">
            <i class="fa fa-google"></i>
            <span>Coupang</span>
        </a>
    </li>
    <li>
        <a href="https://enseirb-matmeca.bordeaux-inp.fr/fr">
            <i class="fa fa-institution"></i>
            <span>SAP</span>
        </a>
    </li>
    <li>
        <a href="https://enseirb-matmeca.bordeaux-inp.fr/fr">
            <i class="fa fa-institution"></i>
            <span>Lectra</span>
        </a>
    </li>
    <li>
        <a href="https://enseirb-matmeca.bordeaux-inp.fr/fr">
            <i class="fa fa-university"></i>
            <span>Enseirb-Matmeca</span>
        </a>
    </li>
    <li>
        <a href="http://www.tongji.edu.cn/english/">
            <i class="fa fa-university"></i>
            <span>Tongji</span>
        </a>
    </li>
</ul>
