<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/vendor/icon-sets.css">
    <link rel="stylesheet" href="../static/css/workflow.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon.png">

    <!-- Javascript -->
    <script src="../static/js/angular/angularjs.js"></script>
    <script src="../static/js/jquery/jquery-2.1.0.js"></script>
    <script src="../static/js/bootstrap/bootstrap.js"></script>
    <script src="../static/js/main/main.js"></script>
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
                <div class="auth-box lockscreen clearfix">
					<div class="content">
						<div class="user text-center">
							<h2 class="name">Workflow ID</h2>
						</div>
						<form action="index.html">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter workflow id ...">
								<span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- END WRAPPER -->
</nav>
</body>
</html>